<div>

  <!-- title -->
  <h1 style="text-align:center">
    Vitajte na stránke {{title}}!
  </h1>

  <!-- preferences-->
  <div>

    <div class="listview">
      <ul>
        <li (click)="vyuc.selected=!vyuc.selected" 
            *ngFor="let vyuc of vyucujuci">
          <a href="#" [class.highlight]="vyuc.selected">{{vyuc.meno}}</a>
        </li>
      </ul>
    </div>

    <div class="listview">
      <ul>
        <li (click)="technologia.selected=!technologia.selected" 
            *ngFor="let technologia of technologie">
          <a href="#" [class.highlight]="technologia.selected"> {{technologia.nazov}} </a>
        </li>
      </ul>
    </div>

    <div class="listview">
      <ul>
        <li (click)="tematickyOkruh.selected=!tematickyOkruh.selected" 
            *ngFor="let tematickyOkruh of tematickeOkruhy">
          <a href="#" [class.highlight]="tematickyOkruh.selected"> {{tematickyOkruh.nazov}} </a>
        </li>
      </ul>
    </div>

  </div>

  <!--result -->
  <div>
    
  </div>

  <!-- chosen subjects -->
  <div>
    
  </div>


</div>

